$header-size: 1.3rem
$title-info-margin: 1.3rem
$event-event-margin: 4.5rem
$main-line-width: 0.5rem
$dashed-line-width: 0.1rem

@mixin white($imp:'')
    --timeline-main-line: rgba(255, 255, 255, 0.1) #{$imp}
    --timeline-time-line: rgba(255, 255, 255, 0.2) #{$imp}
    --timeline-dashed-line: rgba(255, 255, 255, 0.1) #{$imp}

@mixin black($imp:'')
    --timeline-main-line: rgba(0, 0, 0, 0.1) #{$imp}
    --timeline-time-line: rgba(0, 0, 0, 0.2) #{$imp}
    --timeline-dashed-line: rgba(0, 0, 0, 0.1) #{$imp}

\:root
    @include black()

.theme-light .timeline
    @include black()

.theme-dark .timeline
    @include white()

.timeline.white
    @include white('!important')

.timeline.black
    @include black('!important')

.timeline.spaced-paragraph
    .description
        p
            line-height: 1.7rem

.timeline
    display: grid
    grid-template-columns: auto $main-line-width 1fr
    column-gap: $title-info-margin
    row-gap: $event-event-margin
    margin-bottom: $event-event-margin/2
    margin-top: $event-event-margin/2

    .time, .title
        *
            font-size: $header-size
            font-weight: bold

    .time
        grid-column: 1 / span 1
        position: relative
        align-self: start
        text-align: right

        &::before
            content: ' '
            background-color: var(--timeline-time-line)
            position: absolute
            width: $main-line-width
            height: 100%
            right: -($title-info-margin + $main-line-width)

    .info
        position: relative
        grid-column: 3 / span 1

        .title
            margin-bottom: $header-size/1.5

        &::after
            content: ' '
            position: absolute
            border-bottom: $dashed-line-width dashed var(--timeline-dashed-line)
            width: 100%
            height: #{($event-event-margin - $dashed-line-width)/2}

    .info:last-child::after
        content: none

    .main-line
        height: 100%
        width: $main-line-width
        grid-column: 2 / span 1
        grid-row-start: 1
        background-color: var(--timeline-main-line)
