.timeline.spaced-lines > .description p {
  line-height: 1.7rem;
}

.timeline.hide-titles > .title {
  display: none;
}

.timeline {
  --timeline-active-color: var(--background-modifier-success);
}

.timeline.active-color-background-modifier-success {
  --timeline-active-color: var(--background-modifier-success);
}

.timeline.active-color-background-modifier-error {
  --timeline-active-color: var(--background-modifier-error);
}

.timeline.active-color-background-modifier-error-hover {
  --timeline-active-color: var(--background-modifier-error-hover);
}

.timeline.active-color-text-accent {
  --timeline-active-color: var(--text-accent);
}

.timeline.active-color-text-accent-hover {
  --timeline-active-color: var(--text-accent-hover);
}

.timeline.active-color-text-error {
  --timeline-active-color: var(--text-error);
}

.timeline.active-color-text-error-hover {
  --timeline-active-color: var(--text-error-hover);
}

.timeline.active-color-text-selection {
  --timeline-active-color: var(--text-selection);
}

.timeline.active-color-interactive-accent {
  --timeline-active-color: var(--interactive-accent);
}

.timeline.active-color-interactive-accent-hover {
  --timeline-active-color: var(--interactive-accent-hover);
}

.timeline.active-color-interactive-success {
  --timeline-active-color: var(--interactive-success);
}

.timeline {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1.5rem;
  margin: 2.3rem 0;
}
.timeline .time > *:first-child, .timeline .title > *:first-child, .timeline .description > *:first-child {
  margin-top: 0;
}
.timeline .time > *:last-child, .timeline .title > *:last-child, .timeline .description > *:last-child {
  margin-bottom: 0;
}
.timeline .description, .timeline .title {
  grid-column: 3;
}
.timeline .time, .timeline .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeline .time > *, .timeline .title > * {
  font-size: 1.3rem;
  font-weight: bold;
}
.timeline .time {
  grid-column: 1;
  position: relative;
  justify-self: right;
}
.timeline .time::before, .timeline .time::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0.5rem;
  right: -2rem;
  top: 0;
}
.timeline .time::before {
  background-color: var(--background-primary);
}
.timeline .time::after {
  background-color: var(--text-normal);
  opacity: 0.25;
}
.timeline .description {
  position: relative;
  margin-bottom: 4.5rem;
}
.timeline .description > *:first-child {
  margin-top: 0.8666666667rem;
}
.timeline .description::after {
  content: " ";
  position: absolute;
  border-bottom: 0.1rem dashed var(--text-normal);
  opacity: 0.1;
  width: 100%;
  height: 2.25rem;
}
.timeline .description:last-child {
  margin-bottom: 0.8666666667rem;
}
.timeline .description:last-child::after {
  display: none;
}
.timeline::before {
  content: "";
  height: 100%;
  width: 0.5rem;
  grid-column: 2/span 1;
  grid-row-start: 1;
  grid-row-end: span 1000;
  background-color: var(--text-normal);
  opacity: 0.1;
}

.timeline.body-2 > .title, .timeline.body-2 > .description, .timeline.body-3 > .title, .timeline.body-3 > .description, .timeline.body-4 > .title, .timeline.body-4 > .description {
  background-color: var(--background-primary-alt);
}
.timeline.body-2 .description::after, .timeline.body-3 .description::after, .timeline.body-4 .description::after {
  display: none;
}

.timeline.body-2 .title > *, .timeline.body-2 .description > *, .timeline.body-4 .title > *, .timeline.body-4 .description > * {
  margin-left: 0.8666666667rem;
  margin-right: 0.8666666667rem;
}
.timeline.body-2 .title > *:first-child, .timeline.body-2 .description > *:first-child, .timeline.body-4 .title > *:first-child, .timeline.body-4 .description > *:first-child {
  margin-top: 0.8666666667rem;
}
.timeline.body-2 .title > *:last-child, .timeline.body-2 .description > *:last-child, .timeline.body-4 .title > *:last-child, .timeline.body-4 .description > *:last-child {
  margin-bottom: 0.8666666667rem;
}
.timeline.body-2 .title > *:last-child, .timeline.body-4 .title > *:last-child {
  margin-bottom: 0;
}

.timeline.line-2 .time::before, .timeline.line-2 .time::after {
  right: -2.2rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.timeline.line-2 .time::before {
  height: 1.2rem;
  width: 1.2rem;
}
.timeline.line-2 .time::after {
  background: transparent;
  border: 0.2rem solid var(--text-normal);
  height: 0.8rem;
  width: 0.8rem;
  opacity: 0.15;
}
.timeline.line-2::before {
  width: 0.2rem;
  opacity: 0.15;
}

.timeline.line-3 .time::before {
  background: var(--timeline-active-color);
  height: 1rem;
  width: 1rem;
  border: 0.3rem solid var(--background-primary);
  right: -2.45rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.timeline.line-3 .time::after {
  background: transparent;
}
.timeline.line-3::before {
  width: 0.3rem;
  opacity: 0.15;
}

.timeline.line-4 .time::before, .timeline.line-4 .time::after {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.timeline.line-4 .time::before {
  background: var(--text-normal);
  height: 1.4rem;
  width: 1.4rem;
  right: -2.3rem;
}
.timeline.line-4 .time::after {
  opacity: 1;
  background: var(--timeline-active-color);
  height: 0.7777777778rem;
  width: 0.7777777778rem;
  right: -1.9888888889rem;
}
.timeline.line-4::before {
  opacity: 1;
  width: 0.2rem;
  background-color: transparent;
  background-image: linear-gradient(var(--text-normal) 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 0.2rem 1.5rem;
  background-repeat: repeat-y;
}

.timeline.line-5 .time::before, .timeline.line-5 .time::after {
  top: 50%;
}
.timeline.line-5 .time::before {
  width: 3rem;
  height: 3rem;
  right: -3.1rem;
  transform: translateY(-50%);
}
.timeline.line-5 .time::after {
  width: 1rem;
  height: 1rem;
  right: 0;
  transform: translateY(-50%) translateX(2.1rem) rotate(45deg);
}
.timeline.line-5::before {
  width: 0.2rem;
  opacity: 0.25;
}